body {
	background-color:black;
	color:white;
}

canvas {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:#3e3e3e;
	border-radius:5px;
}

.gameWidget {
	position:fixed;
	min-width:150px;
	padding:50px;
	float:left;
	font-size:30px;
	font-weight:900;
	top:150px;
	font-family:Georgia;
	left:50px;
	text-align:center;
	background-color:grey;
	border:10px solid brown;
	border-radius:10px;
}

.gameWidget .gameWidgetSection {
	margin-top:50px;
}

.gameWidget #scoreCount {
	color:yellow;
	font-size:32px;
}

.moreSpaceTop{
	margin-top:50%;
}

.onboardMsg {
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	border-radius:5px;
	font-size:50px;
	font-weight:900;
	padding:3%;
	color:white;
	font-family:monospace;
	visibility:;
	text-align:center;
}

.alertMsg {
	color:red;
}
