body {
	background-color:black;
	color:white;
}

canvas {
	position:fixed;
	top:54%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:#3e3e3e;
	border-radius:5px;
}

.controller {
	display: none;
}

.gameWidget {
	width:40%;
	height:30px;
	position:fixed;
	padding:2px;
	font-size:18px;
	font-weight:900;
	top:4%;
	transform:translate(-50%,-50%);
	font-family:Georgia;
	left:50%;
	text-align:center;
	background-color:#3e3e3e;
	border-radius:5px;
}

.timeTitle {
	padding-top:1%;
	position: absolute;
	left:10%;
}

.scoreTitle {
	position: absolute;
	right:10%;
}

.gameWidget span {
	margin-left:5px;
	margin-right:5px;
}

.gameWidget #scoreCount {
	color:yellow;
	font-size:24px;
}

.moreSpaceTop{
	margin-top:50%;
}

.onboardMsg {
	position:fixed;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	border-radius:5px;
	font-size:40px;
	font-weight:900;
	padding:3%;
	color:white;
	font-family:monospace;
	text-align:center;
	background-color:rgba(0,0,0, 0.5);
}

.alertMsg {
	color:red;
	font-size: 60px;
}

.alertMsg div {
	color:white;
	font-size: 20px;
}

.roundSpace {
	position: fixed;
	background-repeat: no-repeat;
}

.pauseBtnImg {
	position: fixed;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
	canvas {
		height:400px;
		width:400px;
		top:35%;
	}

	.gameWidget {
		transform:translate(0, 0);
		top:0px;
		left:0px;
		width:100%;
		height:50px;
		font-size:32px;
	}

	.onboardMsg {
		top:35%;
		font-size:40px;
	}

	.gameWidget #scoreCount{
		font-size:38px;
	}

	.controllerSpace {
		width:80px;
		height:80px;
		display: inline-block;
	}

	.controlLeft {
		grid-area: arrowLeft;
	}

	.controlUp {
		grid-area: arrowUp;
	}

	.controlRight {
		grid-area: arrowRight;
	}

	.controlBottom {
		grid-area: arrowBottom;
	}

	.controller img {
		width:80px;
		height:80px;
	}

	.controller {
		position: fixed;
		top:65%;
		right:10%;
		display: inline-block;
	}

	.roundSpace {
		width:150px;
		height:150px;
		bottom:10%;
		left:15%;
	}

	.pauseBtnImg {
		width:100px;
		height:100px;
		bottom:25%;
		left:25%;
	}

	.alertMsg div {
		font-size: 34px;
	}
}

@media screen and (max-width: 600px){
	canvas {
		height:300px;
		width:300px;
		top:40%;
	}

	.gameWidget {
		transform:translate(0, 0);
		top:0px;
		left:0px;
		width:100%;
		height:50px;
		font-size:22px;
	}

	.onboardMsg {
		top:40%;
		font-size:25px;
	}

	.alertMsg div {
		font-size: 28px;
	}

	.gameWidget #scoreCount {
		font-size: 24px;
	}

	.timeTitle {
		left:1%;
		padding-top:2%;
	}

	.scoreTitle {
		padding-top:2%;
		right:1%;
	}
}