body {
	background-color:black;
	color:white;
}

canvas {
	position:fixed;
	top:54%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:#3e3e3e;
	border-radius:5px;
}

.controller {
	display: none;
}

.gameWidget {
	width:40%;
	height:30px;
	position:fixed;
	padding:2px;
	font-size:18px;
	font-weight:900;
	top:4%;
	transform:translate(-50%,-50%);
	font-family:Georgia;
	left:50%;
	text-align:center;
	background-color:#3e3e3e;
	border-radius:5px;
}

.timeTitle {
	padding-top:1%;
	position: absolute;
	left:10%;
}

.scoreTitle {
	position: absolute;
	right:10%;
}

.gameWidget span {
	margin-left:5px;
	margin-right:5px;
}

.gameWidget #scoreCount {
	color:yellow;
	font-size:24px;
}

.moreSpaceTop{
	margin-top:50%;
}

.onboardMsg {
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	border-radius:5px;
	font-size:40px;
	font-weight:900;
	padding:3%;
	color:white;
	font-family:monospace;
	text-align:center;
	background-color:rgba(0,0,0, 0.5);
}

.alertMsg {
	color:red;
	font-size: 60px;
}

.alertMsg div {
	color:white;
	font-size: 20px;
}

.roundSpace {
	border-radius:50%;
	position: absolute;
	transform:translate(-50%, -50%);
	top:50%;
	left:50%;
	background-color: hotpink;
}

@media screen and (max-width: 1024px) {
	canvas {
		height:500px;
		width:500px;
		top:35%;
	}

	.gameWidget {
		transform:translate(0, 0);
		top:0px;
		left:0px;
		width:100%;
		height:50px;
		font-size:32px;
	}

	.onboardMsg {
		top:35%;
		font-size:40px;
	}

	.gameWidget #scoreCount{
		font-size:38px;
	}

	.controller {
		display: block;
		position: absolute;
		top:70%;
		left:25%;
		height:240px;
		width:240px;
		display:grid;
		grid-gap:40px;
		grid-template-columns: 100px 100px ;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	.roundSpace {
		width:150px;
		height:150px;
		border-radius:50%;
	}

	.alertMsg div {
		font-size: 34px;
	}
}

@media screen and (max-width: 500px){
	canvas {
		height:300px;
		width:300px;
		top:40%;
	}

	.gameWidget {
		transform:translate(0, 0);
		top:0px;
		left:0px;
		width:100%;
		height:50px;
		font-size:22px;
	}

	.onboardMsg {
		top:40%;
		font-size:25px;
	}

	.alertMsg div {
		font-size: 28px;
	}

	.gameWidget #scoreCount {
		font-size: 24px;
	}

	.controller {
		transform:translate(-50%, -50%);
		display: block;
		position: absolute;
		top:73%;
		left:50%;
		height:120px;
		width:120px;
		display:grid;
		grid-gap:20px;
		grid-template-columns: 50px 50px ;
		grid-gap:20px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.roundSpace {
		top:73%;
		left:20%;
		width:70px;
		height:70px;
		border-radius:50%;
	}

	.timeTitle {
		left:1%;
		padding-top:2%;
	}

	.scoreTitle {
		padding-top:2%;
		right:1%;
	}
}