body {
	background-color:black;
	color:white;
}

#soundEffects {
	display:none;
}

canvas {
	position:fixed;
	top:54%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:#3e3e3e;
	border-radius:5px;
	width:600px;
	height:600px;
}

.controller {
	display: none;
}

.gameWidget {
	width:40%;
	height:30px;
	position:fixed;
	padding:2px;
	font-size:18px;
	font-weight:900;
	top:4%;
	transform:translate(-50%,-50%);
	font-family:Georgia;
	left:50%;
	text-align:center;
	background-color:#3e3e3e;
	border-radius:5px;
}

.timeTitle {
	padding-top:1%;
	position: absolute;
	left:10%;
}

.scoreTitle {
	position: absolute;
	right:10%;
}

.gameWidget span {
	margin-left:5px;
	margin-right:5px;
}

.gameWidget #scoreCount {
	color:yellow;
	font-size:24px;
}

.moreSpaceTop{
	margin-top:50%;
}

.onboardMsg {
	position:fixed;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	border-radius:5px;
	font-size:40px;
	font-weight:900;
	padding:3%;
	color:white;
	font-family:monospace;
	text-align:center;
	background-color:rgba(0,0,0, 0.5);
}

.alertMsg {
	color:red;
	font-size: 60px;
}

.alertMsg div {
	color:white;
	font-size: 20px;
}

.ctrlBtn {
	position: fixed;
	background-repeat: no-repeat;
	display: none;
}

@media screen and (max-width: 1024px) {
	canvas {
		height:600px;
		width:600px;
		top:37%;
	}

	.gameWidget {
		transform:translate(0, 0);
		top:0px;
		left:0px;
		width:100%;
		height:50px;
		font-size:32px;
	}

	.onboardMsg {
		top:375px;
	}

	.gameWidget #scoreCount{
		font-size:38px;
	}

	.ctrlBtn{
		display: block;
	}

	.controllerSpace {
		width:100px;
		height:100px;
		display: inline-block;
	}

	.controlLeft {
		grid-area: arrowLeft;
	}

	.controlUp {
		grid-area: arrowUp;
	}

	.controlRight {
		grid-area: arrowRight;
	}

	.controlBottom {
		grid-area: arrowBottom;
	}

	.controller img {
		width:100px;
		height:100px;
	}

	.controller {
		position: fixed;
		bottom:10%;
		right:10%;
		display: inline-block;
	}

	.roundSpace {
		width:200px;
		height:200px;
		bottom:14%;
		left:15%;
	}

	.pauseBtnImg {
		width:150px;
		height:150px;
		bottom:27%;
		left:30%;
	}

	.alertMsg div {
		font-size: 34px;
	}
}

@media screen and (max-width: 800px) {
	canvas {
		height:600px;
		width:600px;
		top:370px;
	}

	.controller {
		bottom:2%;
		right:10%;
	}
	
	.roundSpace {
		width:200px;
		height:200px;
		bottom:5%;
		left:15%;
	}

	.pauseBtnImg {
		width:150px;
		height:150px;
		bottom:20%;
		left:25%;
	}
	
}

@media screen and (max-width: 650px){
	canvas {
		height:400px;
		width:400px;
		top:280px;
	}

	.gameWidget {
		height:40px;
		font-size:18px;
	}

	.onboardMsg {
		top:250px;
		font-size:25px;
	}

	.alertMsg div {
		font-size: 28px;
	}

	.gameWidget #scoreCount {
		font-size: 24px;
	}

	.timeTitle {
		left:1%;
		padding-top:2%;
	}

	.scoreTitle {
		padding-top:2%;
		right:1%;
	}

	.controller {
		right:6%;
		bottom:5%;
	}

	.roundSpace {
		width:100px;
		height:100px;
		bottom:150px;
		left:11%;
	}

	.pauseBtnImg {
		width:80px;
		height:80px;
		bottom:50px;
		left:12%;
	}

	.controllerSpace {
		width:70px;
		height:70px;
	}

	.controller img {
		width:70px;
		height:70px;
	}

	footer {
		font-size: 12px;	
	}
}

@media screen and (max-width: 400px) {
	canvas {
		width:250px;
		height:250px;
		top:175px;
	}

	.gameWidget {
		height:30px;
		font-size:18px;
	}

	.onboardMsg {
		top:185px;
	}

	.alertMsg div {
		font-size: 28px;
	}

	.gameWidget #scoreCount {
		font-size: 24px;
	}

	.timeTitle {
		left:1%;
		padding-top:2%;
	}

	.scoreTitle {
		padding-top:2%;
		right:1%;
	}

	.controller {
		position: fixed;
		right:10%;
		bottom:5%;
		display: inline-block;
	}

	.roundSpace {
		width:80px;
		height:80px;
		bottom:150px;
		left:11%;
	}

	.pauseBtnImg {
		width:60px;
		height:60px;
		bottom:50px;
		left:12%;
	}

	.controllerSpace {
		width:60px;
		height:60px;
	}

	.controller img {
		width:60px;
		height:60px;
	}

	.scoreTitle {
		top:-5px;
	}

	@media (max-height: 510px) {
		.controller {
			bottom:2%;
		}

		.controllerSpace {
			width:50px;
			height:50px;
		}
	
		.controller img {
			width:50px;
			height:50px;
		}

		.roundSpace {
			width:50px;
			height:50px;
			bottom:100px;
			left:11%;
		}
	
		.pauseBtnImg {
			width:40px;
			height:40px;
			bottom:50px;
			left:12%;
		}
	}
}