body {
    background-color: black;
    color:white;
}

#gamePlay {
    display: none;
    z-index: 3;
}

a {
    text-decoration:none;
}

.centerContainer {
    margin-left:auto;
    margin-right:auto;
}

input {
    border:2px solid transparent;
    transition: 0.3s;
    box-shadow: 0px 3px 5px black;
    margin-bottom:10px;
} 

input:focus {
    outline:none;
    box-shadow:0px 3px 10px black;
}


/*------------------------------*/
/*         Menu Section         */
/*------------------------------*/
.menus {
    position:absolute;
    display:block;
    transform:translate(-50%,-50%);
    top:48%;
    left:50%;
    width:60%;
    height:70%;
    background-color: rgb(100,100,100);
    padding:1%;
    border-radius:10px;
    border:5px solid white;
    overflow-y: scroll;
}

.subMenu {
    display:none;
}

.menuTitle {
    text-align: center;
    margin:4%;
    margin-left:15%;
    margin-right:15%;
    padding:2%;
    font-size:3em;
    font-family: silkscreen-bold;
    font-weight: 900;
    text-shadow: 0px 3px 3px black;
    border:5px solid transparent;
    border-radius:5px;
    box-shadow:0px 3px 5px black;
    transition:border 0.4s;
}

.menuBtn {
    background-color: #8d8d8d;
    box-shadow:0px 3px 3px black;
    border:5px solid transparent;
    border-radius:5px;
    transition:0.3s;
    cursor: pointer;
}

.menuBtn:hover {
    border:5px solid white;
    box-shadow:0px 3px 10px black;
}

.menuTitle:hover {
    border:5px solid white;
}

.sectionWrapper {
    font-family:silkscreen-light;
    margin:2%;
    padding:5%;
}

.sectionWrapper h2, .sectionWrapper h1 {
    text-shadow: 0px 2px 5px black;
}

.sectionWrapper p{
    text-indent:50px;
    text-align: justify;
    font-size:1.1em;
    line-height: 1.2;
    letter-spacing: -1px;
}

.sectionWrapper a {
    color:goldenrod;
}

.sectionWrapper a:hover {
    color:yellow;
}

.sectionWrapper table {
    box-shadow: 0px 1px 5px black;
    margin-left:4%;
    width:92%;
}

.sectionWrapper table, .sectionWrapper td, .sectionWrapper tr {
    border-collapse: collapse;
    border:3px solid white;
    text-align: center;
    padding:10px;
    word-wrap: break-word;
}

.backToHome{
    float:right;
}

.backToHome img {
    width:60px;
    height:60px;
}


/*------------------------------*/
/*        Game Over Menu        */
/*------------------------------*/
#gameOverMenu {
    height:80vh;
    z-index: 5;
}

#gameOverTitle {
    text-align:center;
    font-family: silkscreen-bold;
    font-size:3em;
    color:red;
    margin-top:0;
}

#newHighText {
    display:none;
}

#gameOverScoreTable {
    margin-bottom:50px;
}

#performance div {
    font-size:1.5em;
    margin-left:50px;
    margin-top:20px;
}

#position {
    display:none;
}

#playerNameCont {
    margin-top:30px;
}

#getPlayerName {
    display:none;
    padding:5px;
    background-color:rgb(85, 85, 85);
    font-family: silkscreen-light;
    font-size:1.5em;
    box-shadow: none;
    border-radius:5px;
    color:white;
    width:100%;
}

#getPlayerName::placeholder {
    color:rgb(190, 190, 190);
}

#getPlayerName:focus{
    border:2px solid white;
    box-shadow: 0px 0px 5px black;
}

.gameOverBtn {
    background-color:green;
    font-family:silkscreen-bold;
    color:white;
    font-size:1.3em;
    float:right;
    margin-left:30px;
    padding:5px;
    border-radius:5px;
}

.gameOverBtn:focus {
    outline:none;
}


/*------------------------------*/
/*      About page section      */
/*------------------------------*/
.sectionWrapper table tr td div {
    width:40px;
    height:40px;
    box-shadow: 0px 1px 5px black;
}

#redBox {
    background-color: #f02222;
}

#greenBox {
    background-color: #4caf50;
}

#yellowBox {
    background-color: #e6df1e;
}

#darkGreenBox {
    background-color: #166300;
}

#socialMedias {
    margin-top:5%;
    width:230px;
}

#socialMedias div {
    width:80px;
    height:80px;
    display: inline-block;
    margin-left:20px;
}



/*------------------------------*/
/*      High-Score section      */
/*------------------------------*/
#highScoreSection table td:nth-child(2) {
    max-width:200px;
}


/*------------------------------*/
/*      Pause Menu section      */
/*------------------------------*/
#pauseMenu {
    z-index: 5;
    position:absolute;
    display: none;
    transform:translate(-50%,-50%);
    top:48%;
    left:50%;
    width:500px;
    height:200px;
    background-color: rgb(100,100,100);
    padding:1%;
    border-radius:10px;
    border:5px solid white;
    text-align: center;
}

.subTitle{
    text-align:center;
    font-family: silkscreen-bold;
    font-size:2em;
}

#pauseMenu .center div{
    display:inline-block;
    padding:10px;
    margin-left:3%;
}

#pauseMenu div img {
    width:60px;
    height:60px;
}

#pauseMenu div {
    margin-top:10px;
}

#shader {
    display:none;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity:0.7;
    z-index: 4;
    width:100vw;
    height:100vh;
}


/*------------------------------*/
/*       Settings Section       */
/*------------------------------*/
#settingsSection {
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index:5;
}

#settingsSection .controls div {
    display:inline-block;
    width:100px;
    margin-left:5px;
    text-align: center;
}

#settingsSection .controls div div{
    width:80px;
    height:80px;
}

.arrowLeft{
    background:url("../asset/sprite/arrows_80px.png") 0px ;
}

.arrowUp{
    background:url("../asset/sprite/arrows_80px.png") -80px ;
}

.arrowRight{
    background:url("../asset/sprite/arrows_80px.png") -160px ;
}

.arrowDown{
    background:url("../asset/sprite/arrows_80px.png") -240px ;
}

.controls {
    width:450px;
    margin-top:5%;
}

.scrollable {
    overflow-x:auto;
    overflow-y:auto;
}

.controls div input {
    width:100px;
    height:20px;
    padding:1%;
    background-color:rgb(78, 78, 78);
    border:none;
    color:white;
    text-align:center;
}

#settingsSection input[type="range"] {
    width:100%;
    height:20px;
    padding:1%;
    margin-top:20px;
    box-shadow:none;
    cursor:pointer;
}

/*------------------------------*/
/*     small Widget section     */
/*------------------------------*/
.smallWidgetSection {
    width:170px;
}

.smallBtn {
    margin-left:20px;
    cursor: pointer;
    border-radius: 5px; 
    transition:0.3s;
    border:2px solid transparent;
    box-shadow:0px 3px 5px black;
    display: inline-block;
}

.smallBtn:hover {
    box-shadow:0px 3px 10px white;
}

.smallBtn div {
    width:50px;
    height:50px;
}

.smallBtn div:hover {
    animation:animate50px 0.5s steps(3) infinite;
}

#audioSprite {
    background-image: url("../asset/sprite/audio_50px.png");
    background-position:  -100px 0px ;
}

#musicSprite {
    background-image: url("../asset/sprite/music_50px.png"); 
    background-position: 0px 0px ; 
}

/*------------------------------*/
/*      big Widget section      */
/*------------------------------*/
.bigWidgetSection {
    margin-top:10%;
    margin-bottom:4%;
    width:575px;
    height:140px;
}

.bigBtn {
    display: inline-block;
    margin:10px;
    padding:5px;
}

.bigBtn div:hover {
    animation:animate100px 1s steps(5) infinite; 
}

.bigBtn div{
    width:100px;
    height:100px;
}

#gameStartSprite {
    background: url("../asset/sprite/playBtn_100px.png") 0px 0px ;
}

#highScoreSprite {
    background: url("../asset/sprite/highScore_100px.png") 0px 0px ;   
}

#aboutSprite {
    background: url("../asset/sprite/about_100px.png") 0px 0px ; 
}

#settings {
    background: url("../asset/sprite/settings_100px.png");  
}


/*------------------------------*/
/*        footer section        */
/*------------------------------*/
footer{
    position: fixed;
    bottom: 10px;
    left:20px;
}

footer a {
    color:goldenrod;
}

footer a:hover {
    color:yellow;
}


/*------------------------------*/
/*      custom font family      */
/*------------------------------*/
@font-face {
    font-family:silkscreen-Bold;
    src:url(../asset/font/slkscrb.ttf);
}

@font-face {
    font-family: silkscreen-light;
    src:url(../asset/font/slkscre.ttf);
}


/*------------------------------*/
/*      animation section       */
/*------------------------------*/
@keyframes animate50px{
    from {
        background-position:0px;
    }
    to {
        background-position: -150px;
    }
}

@keyframes animate100px{
    from {
        background-position:0px;
    }
    to {
        background-position: -500px;
    }
}

@keyframes fadeOut {
    from { 
        opacity:1.0
    }
    to {
        opacity: 0.0;
        display:none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height:10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}